.modalGroup {
  width: 100dvw;
  top: 0px;
  position: fixed;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  background-color: rgb(var(--background-end-rgb));
  position: absolute;
  max-width: 80vw;
  min-width: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 650px;
}
.modalHeader {
  padding: 0 16px;
  font-size: 31px;
  font-weight: bold;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.closeButton {
  min-width: 36px;
  min-height: 36px;
  outline-style: none;
  cursor: pointer;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid black;
  color: inherit;
  background-color: white;
}
.closeButton:hover {
  background-color: rgba(15,20,25, 0.1);
}
.closeButton .closeButtonIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton .closeButtonIconWrapper svg {
  width: 20px;
  height: 20px;
}

.modalHeader svg {
  height: 1.75rem;
  width: fit-content;
}
.modalHeader .headerSide {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 56px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  flex-grow: 1;
  min-height: 32px;
}

.modalBody {
  width: 100%;
  max-width: 600px;
  display: flex;
}

.modalBody .bodyInner {
  margin: auto;
  min-width: 364px;
  max-width: 364px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font-size: 31px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputBlock {
  padding-top: 12px;
  padding-bottom: 12px;
}