.modalGroup {
  width: 100vw;
  top: 0px;
  position: fixed;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  background-color: rgb(var(--background-end-rgb));
  position: absolute;
  max-width: 80vw;
  min-width: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 550px;
}
.modalHeader {
  padding: 0 16px;
  font-size: 31px;
  font-weight: bold;
  height: 53px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.closeButton {
  min-width: 36px;
  min-height: 36px;
  outline-style: none;
  cursor: pointer;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid black;
  color: inherit;
  background-color: white;
}
.closeButton:hover {
  background-color: rgba(15,20,25, 0.1);
}
.closeButton .closeButtonIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton .closeButtonIconWrapper svg {
  width: 20px;
  height: 20px;
}

.modalHeader svg {
  height: 1.75rem;
  width: fit-content;
}
.modalHeader .headerSide {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 56px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  flex-grow: 1;
  min-height: 32px;
}

.modalBody {
  width: 100%;
  max-width: 600px;
  display: flex;
}

.modalBody .bodyInner {
  margin: auto;
  min-width: 364px;
  max-width: 364px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.title {
  font-size: 31px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputBlock {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
  width: 100%;
}
.inputLabel {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 4px;
  flex-direction: row;
}
.inputLabel:has(input:focus) {
  box-shadow: rgb(29, 155, 240) 0px 0px 0px 1px;
  border-color: rgb(29, 155, 240);
}
.labelTextWrapper {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}
.labelTextInner {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  flex-direction: row;
  height: 100%;
  position: absolute;
  justify-content: space-between;
}
.labelTextBox {
  display: inline;
  margin: 0px;
  padding: 0px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 24px;
  font-weight: 400;
  font-size: 17px;
  text-align: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  max-width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  word-wrap: break-word;
  padding-top: 16px;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms cubic-bezier(0.4, 0, 0.2, 1), padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(83, 100, 113);
}
.inputLabel:has(input:focus) .labelTextBox {
  color: rgb(29, 155, 240);
  font-size: small;
  padding-top: 8px;
  line-height: 16px;
}
.labelText {
  color: inherit;
  display: inline;
  font: inherit;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: inherit;
  text-decoration: none;
  white-space: inherit;
  text-align: inherit;
  min-width: 0px;
  word-wrap: break-word;
}
.inputWrapper {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 8px;
  padding-right: 8px;
  flex-grow: 1;
  flex-direction: row;
  flex-shrink: 1;
  padding-top: 12px;
  margin-top: 16px;
  padding-bottom: 8px;
}
.inputInner {
  display: inline;
  margin: 0px;
  padding: 0px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;
  line-height: 24px;
  width: 100%;
  font-weight: 400;
  align-items: center;
  font-size: 17px;
  text-align: inherit;
  min-width: 0px;
  word-wrap: break-word;
  color: rgb(15, 20, 25);
}
.input {
  font-size: inherit;
  color: inherit;
  resize: none;
  appearance: none;
  text-align: left;
  box-sizing: border-box;
  outline-style: none;
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.00);
}
.button {
  margin-top: 18px;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(15, 20, 25);
  min-height: 36px;
  min-width: 36px;
  outline-style: none;
  width: 100%;
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.buttonTextWrapper {
  color: rgb(255, 255, 255);
  line-height: 20px;
  word-wrap: break-word;
  text-align: center;
  min-width: 0px;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  display: flex;
}
.buttonText {

}
.signInBlock {
  margin-top: 40px;
  color: rgb(83, 100, 113);
  line-height: 20px;
  word-wrap: break-word;
  min-width: 0px;
  font-size: 15px;
  font-weight: 400;
}